@import "../Vars";

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register__container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid $text-color;
    border-radius: 40px;
    color: $text-color;
    padding: 60px 68px 40px;
    min-height: 550px;
    width: 400px;
    justify-content: space-around;
    flex-direction: column;
}

.register__container--form {
    display: flex;
    flex-direction: column;
}

.register__container--login {
    text-align: center;
    color: $text-color;
    font-size: 16px;
    text-decoration: none;
}

.register__container--login:hover {
    text-decoration: underline;
}